body {
  font-family: "Roboto", sans-serif;
}
.app-container {
  margin: 10px;
}
.wrapper {
  margin: 0px 25px;
  display: grid;
  grid-template-columns: 68.75% 31.25%;
  grid-column-gap: 20px;
}
.list-wrapper {
}
