.searchbar-container {
  border: 1px solid rgb(56, 54, 54);
  border-radius: 5px;
  margin: 0px 30px;
  background-color: ghostwhite;
}
.field {
  display: block;
  padding: 25px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.field label {
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.field input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}
