.video-container {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(146, 142, 142);
  cursor: pointer;
}
.video-container:last-child {
  border-bottom: none;
}
.video-container img {
  max-width: 180px;
}
.title {
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
