.video-detail-container {
  margin: 20px;
}
.video-detail-container {
  width: 100%;
  margin: 15px 2px;
}
.video-detail-container iframe {
  width: 100%;
  height: 400px;
}
.video-detail {
  border: 1px solid rgb(143, 138, 138);
  border-radius: 5px;
  padding: 0px 20px;
  box-sizing: border-box;
}
.video-detail h4 {
  margin-bottom: 10px;
}
.video-detail p {
  font-family: sans-serif;
}
